
body {
	font-size: 10px;
}

.question,
.answer {
	/* display: none; */
}

.q1 {
	display: block;
}

	.header img {
		width: 100%;
	}

	@media (max-width: 768px){
		.header img {
			height: 100%;
    width: auto;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
		}
		.header {
			    min-height: 200px;
    overflow: hidden;
		}
	}


.container {
	width: 80%;
	max-width: 550px;
	margin: 0 auto;
}

h3 {
	font-size: 1.2rem;
	color: #be0e14;
	font-weight: 500;
}

.question ul li {
    display: inline-block;
    padding: .6rem;
    border: 1px solid #be0e14;
    border-radius: 8px;
    color: #be0e14;
    font-weight: bold;
    min-width: 178px;
    margin: .5rem;
}
.question.block ul {
	    max-width: 550px;
    margin: auto;
}
.question.block ul li {
	display: block;
	border: none;
	padding: 0;
	margin: 0;
	text-align: left;
}
.question.block ul li span {
  	display: inline-block;
    border-radius: 8px;
    color: #be0e14;
    font-weight: bold;
    min-width: 178px;
    margin: .5rem;
}


.question label {
	color: inherit;
}

.question {
	text-align: center;
}
.question.block {
	text-align: left;
}

h3 {
	text-align: left;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
	background-color: #be0e14;
	border-color: #be0e14;
	transform: scale(2);
}
[type="radio"]+label:before, [type="radio"]+label:after {
	transform: scale(2);
}

[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
	border-color: #be0e14;
	border-width: 1px;
}


[type="radio"]+label:after {
	content: '✓';
	text-align: center;
	line-height: 1.5;
	font-size: .6rem;
    color: white;
}


.btn {
    display: block;
    border-radius: 6rem;
    margin: auto;
    min-height: 50px;
    font-weight: bold;
    text-transform: initial;
}

.btn-primary {
	background-color: #be0e14;
	border-color:  #be0e14;
}

.btn-primary:hover {
	background-color: #ff232b;
}


input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
	border-color:  #be0e14;
	box shadow: 0 1px 0 0 #ff232b;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
	color:  #be0e14;
}

.container {
	position: relative;
}

/*after development*/

/*.container > .question,
.multiple-questions {
position: absolute;
top: 0;
left: 0;
width: 100%;
background: white;
}

.answer {
	display: none;
}*/


.footer {
	display: none;
}

input[type="number"] {
	    font-size: 1.2rem!important;
    color: #be0e14;
    font-weight: 500;
    border-color: #be0e14!important;
    border-width: 5px!important;
}

input[type="number"]:focus {
	    box-shadow: 0 1px 0 0 #be0e14!important;
    border-bottom: 1px solid #be0e14!important;
}

.input-field {
	max-width: 300px;
	margin: 0 auto;
}

.input-field label {
	    font-size: 1.2rem;
    color: #be0e14;
    font-weight: 500;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inline-image {
	width: 30px;
	display: inline-block;
}
.footer-links {
	display: inline-block;
}

.footer-links li {
	line-height: 50px;
	margin: 0 1rem;
	display: inline-block;
}

.footer-links li a {
	color: #aaa;
	font-size: .8rem;
}

.footer .container {
	border-top: 1px solid #aaa;
	padding-top: 1rem;
	display: flex;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
}